# Common
ASCON_PROJECT_NAMESPACE=ascon_secure_channel
ASCON_KEY_DIR=keys
ASCON_REGISTRY_FILE=device_registry.json
ASCON_MESSAGE=Secure ASCON message
ASCON_LOG_SESSION_KEY=false

# MQTT broker
ASCON_MQTT_HOST=localhost
ASCON_MQTT_PORT=8883
ASCON_MQTT_TLS=true
ASCON_MQTT_USERNAME=ascon_user
ASCON_MQTT_PASSWORD=change_this_password
ASCON_MQTT_CA_FILE=deploy/mosquitto/certs/ca.crt

# Receiver process
# ASCON_DEVICE_ID=receiver_01
# ASCON_PEER_ID=sender_01
# ASCON_STATE_FILE=receiver_state.json

# Sender process
# ASCON_DEVICE_ID=sender_01
# ASCON_PEER_ID=receiver_01
# ASCON_STATE_FILE=sender_state.json
